.mainContainer {
  width: 100%;
  // height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .main {
    // margin-bottom: 20vh;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: right;
    // background-attachment: fixed;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: red;
    text-align: center;
    color: var(--gold_light);
    border-radius: 0 0 50px 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 20px;
    div {
      // margin: 10px;
    }
    .besm {
      width: 200px;
    }
    .homeText {
      .hometitle {
        font-family: "Lalezar", serif;
        font-size: 80px;
        font-weight: 400;
        text-align: center;

        color: var(--primary); /* Your gold-orange */
        text-shadow:
        0 0 10px #ffffff,
          0 0 9px #ffffff,
          0 3px 6px rgb(255, 255, 255);
      }

      // margin-top: -40px;
      height: 100vh;
      display: flex;
      padding: 0 50px;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .mainText0 {
        img {
          width: 300px;
          margin: 15px 0;
        }
      }
      .DesText {
        
        color: #ffffff;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.804);
        .Homeslider {
          margin: 10px 0;
          width: 100%;
          // height: 200px;
          margin: auto;
          padding-bottom: 50px;
        }
        width: 100%;
        height: 100px;
        h2 {
          padding: 15px;
          font-family: "Amiri", serif;
          width: auto;
          line-height: 2;
          font-size: 30px;
        }
        p {
          padding: 0 60px;
          margin: 0 60px;
          margin-right: 100px;
          font-size: 30px;
          font-family: "lateef";
        }
      }
    }
  }

  // .homeBoxes {
  //   width: 80%;
  //   position: absolute;
  //   bottom: 0;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-around;
  //   align-items: center;
  //   gap: 20px;
  //   border-radius: 50px 50px 5px 5px;
  //   // box-shadow: rgba(0, 0, 0, 0.15) 0px -30px 15px 20px;
  //   padding: 0px 20px;
  //   // border: 1px solid green;

  //   // background-color: rgb(255, 0, 0);
  //   .boxes {

  //     width: 210px;
  //     height: 100px;
  //     border-radius: 10px;
  //     box-shadow: rgba(0, 0, 0, 0.15) 0px -20px 15px 20px;
  //     background-color: var(--gold_white);
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     flex-direction: column;
  //     h1{
  //       font-size: 20px;
  //     }
  //     h2{
  //       font-size: 15px;
  //     }
  //   }

  // }
  .home_btn {
    width: 200px;
    border: none;
    background-color: transparent;

    outline: none;
    height: 50px;
    border-radius: 10px;
    color: white;
    // font-family: Mj_Zobeir;
    font-size: 25px;
    padding: 0 20px;
    border: 2px solid var(--primary);
    margin-bottom: -20px;
    margin-top: 30px;
    transition: 0.2s ease-in-out;
    display: none;
    &:hover {
      background-color: var(--primary);
    }
  }
}

@media (max-width: 768px) {
  .mainContainer {
    .main {
      .homeText {
        margin-top: -150px;
        .hometitle {
          font-size: 50px;
          white-space: nowrap;
        }
        .mainText0 {
          margin: 1rem 0;
          img {
            width: 200px;
          }
        }
        .DesText {
          display: flex;
          justify-content: center;
          width: 130%;
          .Homeslider {
          }
          h2 {
            margin: 3rem 0;
            // border: 1px solid red;
            font-size: 25px;
          }
          p {
            margin: 0 20px;
            padding: 0 20px;
            font-size: 17px;
          }
        }
      }
    }
    // .homeBoxes {
    //   gap: 40px;
    //   padding: 30px 0;
    //   box-shadow: rgba(0, 0, 0, 0.15) 0px -0px 0px 0px;
    //   border-radius: 10px 10px 5px 5px;
    //   // margin-top: -90px;
    //   .boxes {
    //     box-shadow: rgba(0, 0, 0, 0.15) 0px -0px 15px 10px;
    //     border-radius: 10px 10px 10px 10px;
    //   }
    // }
  }
}
@media (min-width: 560px) {
  .main {
  }
}
