@keyframes flowerrotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.feedbacks_questions {
  position: relative;
  z-index: 2;
  // padding-bottom: 40px;
}

.mainFeedback {
  width: 100%;
  // min-height: 100vh;
  padding: 40px 0 120px;
  position: relative;
  overflow: hidden;

 

  h1 {
    color: var(--primary);
    font-family: "lateef";
    margin: 20px 40px;
    font-size: 50px;
    text-align: right;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 50px;
      background-color: var(--primary);
      bottom: -5px;
      right: 0;
      border-radius: 30px;
    }
  }

  /* flower background */
  .flowerdiv {
    position: relative;
    display: flex;
    justify-content: center;
    // margin-top: 40px;

    .flowerimg {
      position: absolute;
      top: 350px;
      width: 550px;
      height: 550px;
      opacity: 0.2;
      z-index: 1;
      animation: flowerrotate 17s linear infinite;
      // filter: blur(2px);
    }
  }

  /* form container */
  .formContainer {
    position: relative;
    z-index: 2;
    // margin-top: 300px;
    display: flex;
    justify-content: center;
    padding: 20px;

     form {
      width: 80%;
      max-width: 700px;
      // background: white;
      padding: 30px;
      border-radius: 16px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);

      button {
        width: 200px;
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        background-color: var(--primary);
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;

        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }
}

/* mobile */
@media (max-width: 768px) {
  .mainFeedback {
    
    h1 {
      font-size: 38px;
      margin: 15px 20px;
    }

    .flowerdiv {
      // margin-top: -300px;
      .flowerimg {
          top:0;
      // width: 150px;
      // height: 150px;
      }
    }

    .formContainer {
      // margin-top: 220px;

      form {
        width: 95%;
        padding: 20px;
      }
    }
  }
}