@keyframes flowerrotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.feedbacks_questions{
z-index: 1000;
padding-bottom: 40px;
}

.mainFeedback {
  width: 100%;
  background: linear-gradient(
    to top,
    --primary,
    rgba(255, 255, 255, 0.082),
    rgba(255, 255, 255, 0.068)
  );
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: -35px;
  padding: 20px 0px;
  .flowerdiv {
    padding-top: 140px;
    overflow: hidden;
    position: relative;
    top: -120px;
    display: flex;
    justify-content: center;
    align-items: start;
    // width: 90%;
    height: 100%;
    .flowerimg {
      animation: flowerrotate 17s infinite ease-in-out;
      margin-bottom: 250px;
      width: 550px;
      height: 550px;
      z-index: -2;
      // margin-right: -260px;
    }
  }

  h1 {
    color: var(--primary);
    font-family: "lateef";
    margin: 20px;
    margin-right: 40px;
    font-size: 50px;
    position: relative;
    // display: inline-block;
    text-align: right;
    // float: right;
  }
  h1::after {
    content: "";
    position: absolute;
    height: 4px;
    border-radius: 30px;
    width: 50px;
    background-color: var(--primary);
    bottom: -5px;
    right: 0;
  }
  .formContainer {
    position: relative;
    top: -540px;
    width: 100%;
    // height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(white,white,rgba(255, 255, 255, 0));

    padding: 10px;
    
    form{
      width: 80%;
      button{
        outline: none;
        width: 100px;
        color: white;
        background-color: var(--primary);
        border-radius: 20px;
        padding: 10px 20px;
        border: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .mainFeedback {
    .formContainer{
    top: -550px;

    }
  }
}
