.taqrir-accordion-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* CENTER FIX */
  padding: 100px 0;
  font-family: "Lalezar";
}

/* SEARCH */
.taqrir-search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.taqrir-search-input {
  width: 50%;
  height: 50px;
  padding: 0 45px 0 20px;
  border-radius: 30px;
  border: 1px solid var(--primary);
  outline: none;
  font-size: 16px;
  transition: 0.3s ease;
  background: transparent;
  color: var(--primary);
}

.taqrir-search-input:focus {
  width: 55%;
}

.taqrir-search-icon {
  position: absolute;
  right: 26%;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary);
}

/* LIST */
.taqrir-accordion-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* CARD */
.taqrir-accordion-card {



  border: 1px solid var(--primary);
  border-radius: 18px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

}

/* HEADER */
.taqrir-accordion-header {
  width: 100%;
  padding: 15px 20px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.taqrir-header-left {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--primary);

  justify-self: center;

  h5 {
    line-height: 0;
    margin: 0;

    p {
      margin: 0;
    }
  }
}

.taqrir-header-left img {
  width: 45px;
}

/* CHEVRON */
.taqrir-chevron {
  transition: 0.3s ease;
}

.taqrir-chevron.open {
  transform: rotate(180deg);
}

/* BODY */
.taqrir-accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s ease;
  background: #fafafa;
  padding: 0 20px;
}

.taqrir-accordion-body.open {
  max-height: 500px;
  padding: 15px 20px;
}

/* CHILD */
.taqrir-child-item {
  display: block;
  margin: 8px 0;
  padding: 10px 15px;
  border-radius: 12px;
  background: white;
  border: 1px solid #eee;
  text-decoration: none;
  color: var(--primary);
  transition: 0.3s;
}

.taqrir-child-item:hover {
  background: var(--primary);
  color: white;
  transform: translateX(-5px);
}

/* LOADING */
.taqrir-loading {
  padding: 10px;
  color: #777;
}